In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [73]:
#Exercise 1: Connect to your database server and print itsversion

In [2]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
pw = "sk!#*goodSQL123" # IMPORTANT! Put your MySQL Terminal password here.
db = "python_db" # This is the name of the database we will create in the next step - call it whatever you
connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

In [3]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [5]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [6]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [74]:
#Question 2: Fetch Hospital and Doctor Information usinghospital Id and doctor Id

In [7]:
q1 = """
SELECT *
FROM doctor;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)

for result in results:
    print(result)

MySQL Database connection successful
(101, 'David', 1, datetime.date(2005, 2, 10), 'Pediatric', 40000, None)
(102, 'Michael', 1, datetime.date(2018, 7, 23), 'Oncologist', 20000, None)
(103, 'Susan', 2, datetime.date(2016, 5, 19), 'Garnacologist', 25000, None)
(104, 'Robert', 2, datetime.date(2017, 12, 28), 'Pediatric ', 28000, None)
(105, 'Linda', 3, datetime.date(2004, 6, 4), 'Garnacologist', 42000, None)
(106, 'William', 3, datetime.date(2012, 9, 11), 'Dermatologist', 30000, None)
(107, 'Richard', 4, datetime.date(2014, 8, 21), 'Garnacologist', 32000, None)
(108, 'Karen', 4, datetime.date(2011, 10, 17), 'Radiologist', 30000, None)

In [19]:
q1 = """
SELECT *
FROM hospital
WHERE Hospital_Id = 2;
"""
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)
for result in results:
    print(result)

MySQL Database connection successful
(2, 'Cleveland Clinic', 400)

In [123]:
q1 = """
SELECT *
FROM hospital
WHERE Hospital_Id = 2;
"""
connection = create_db_connection("localhost", "root", pw, db)
hospital_id = read_query(connection, q1)

def get_hospital_detail(hospital_id):
    for row in hospital_id:
        print("Hospital Id :", row[0])
        print("Hospital Name :", row[1])
        print("Bed Count : ", row[2])
    
get_hospital_detail(hospital_id)

MySQL Database connection successful
Hospital Id : 2
Hospital Name : Cleveland Clinic
Bed Count :  400

In [125]:
q1 = """
SELECT *
FROM doctor
WHERE Doctor_Id = 105;
"""
connection = create_db_connection("localhost", "root", pw, db)
doctor_id = read_query(connection, q1)

def get_hospital_detail(doctor_id):
    for row in doctor_id:
        print("Doctor Id :", row[0])
        print("Doctor Name :", row[1])
        print("Hospital Id : ", row[2])
        print("Joining Date : ", row[3])
        print("Specialty : ", row[4])
        print("Salary : ", row[5])
        print("Experience: ", row[6])
    
get_hospital_detail(doctor_id)

MySQL Database connection successful
Doctor Id : 105
Doctor Name : Linda
Hospital Id :  3
Joining Date :  2004-06-04
Specialty :  Garnacologist
Salary :  42000
Experience:  None

In [75]:
#Exercise 3: Get the list Of doctors as per the given specialty and salary

In [138]:
q1 = """
SELECT * FROM doctor WHERE Speciality = 'Garnacologist' and  Salary > 30000;
"""
connection = create_db_connection("localhost", "root", pw, db)
doctor_id = read_query(connection, q1)


def get_specialist_doctors_list(speciality, salary):
#Fetch doctor's details as per Speciality and Salary
    for row in doctor_id:
        print("Doctor Id: ", row[0])
        print("Doctor Name:", row[1])
        print("Hospital Id:", row[2])
        print("Joining Date:", row[3])
        print("Specialty:", row[4])
        print("Salary:", row[5])
        print("Experience:", row[6], "\n")

get_specialist_doctors_list("Garnacologist", 30000)

MySQL Database connection successful
Doctor Id:  105
Doctor Name: Linda
Hospital Id: 3
Joining Date: 2004-06-04
Specialty: Garnacologist
Salary: 42000
Experience: None

Doctor Id:  107
Doctor Name: Richard
Hospital Id: 4
Joining Date: 2014-08-21
Specialty: Garnacologist
Salary: 32000
Experience: None

In [76]:
#Exercise 4: Get a list of doctors from a given hospital

In [143]:
q1 = """
SELECT A.Doctor_Id,A.Doctor_Name , A.Speciality , A.Salary, A.Experience,B.Hospital_Name, B.Hospital_Id
FROM doctor AS A
INNER JOIN hospital AS B
ON B.Hospital_Id = A.Hospital_Id
 where b.Hospital_Id = 2;
"""
connection = create_db_connection("localhost", "root", pw, db)
doctor_id = read_query(connection, q1)


def get_specialist_doctors_list(doctor_id):
#Fetch doctor's details as per Speciality and Salary
    for row in doctor_id:
        print("Doctor Id: ", row[0])
        print("Doctor Name:", row[1])
        print("Speciality:", row[2])
        print("Salary:", row[3])
        print("Experience:", row[4])
        print("Hospital_Name:", row[5], "\n")

get_specialist_doctors_list(doctor_id)

MySQL Database connection successful
Doctor Id:  103
Doctor Name: Susan
Speciality: Garnacologist
Salary: 25000
Experience: None
Hospital_Name: Cleveland Clinic

Doctor Id:  104
Doctor Name: Robert
Speciality: Pediatric
Salary: 28000
Experience: None
Hospital_Name: Cleveland Clinic

In [98]:
#Operation 5: Update doctor experience in years

In [100]:
update = """
UPDATE doctor
SET Experience = 15
WHERE Doctor_Id = 101;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update)

MySQL Database connection successful
Query successful

In [109]:
q1 = """
SELECT *
FROM doctor
WHERE Doctor_Id = 101;
"""
connection = create_db_connection("localhost", "root", pw, db)
doctor_id = read_query(connection, q1)


def update_doctor_experience(doctor_id):
# Update Doctor Experience in Years
 for row in doctor_id:
    print("Doctor Id :", row[0])
    print("Doctor Name :", row[1])
    print("Hospital Id : ", row[2])
    print("Joining Date : ", row[3])
    print("Specialty : ", row[4])
    print("Salary : ", row[5])
    print("Experience: ", row[6])
        
update_doctor_experience(doctor_id)

MySQL Database connection successful
Doctor Id : 101
Doctor Name : David
Hospital Id :  1
Joining Date :  2005-02-10
Specialty :  Pediatric
Salary :  40000
Experience:  15